.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color:rgba(23, 227, 159, 0.411);
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 100px;
}
.boton-clear:hover{
    background-color: yellowgreen;

}
